<p>calculadora teste</p>
<input 
type="text"
style="width: 65px;"
[value]= "resultado">
<button
(click)= "limpar()">C</button> <br>
<button
(click)= "addnumero('7')">7</button>
<button
(click)= "addnumero('8')">8</button>
<button
(click)= "addnumero('9')">9</button>
<button
(click)= "addnumero('+')"
style="width: 24px;">+</button> <br>
<button
(click)= "addnumero('4')">4</button>
<button
(click)= "addnumero('5')">5</button> 
<button
(click)= "addnumero('6')">6</button>
<button
(click)= "addnumero('-')"
style="width: 24px;">-</button> <br>
<button
(click)= "addnumero('1')">1</button>
<button
(click)= "addnumero('2')">2</button>
<button
(click)= "addnumero('3')">3</button>
<button
(click)= "addnumero('/')"
style="width: 24px;">/</button> <br>
<button
(click)= "addnumero('0')">0</button>
<button
(click)= "addnumero('.')"
style="width: 23px;">.</button>
<button
(click)= "calcular()">=</button>
<button
(click)= "addnumero('*')"
style="width: 24px;">*</button>
